
 /***************************/
 /** Reglas para etiquetas de pag Home**/
 /***************************/
 body{
   margin: o;
   background-color: black;
   
   
 }
 p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px; 
}
h2{
  padding-right: 30px;
  padding-left: 30px; 
  color: darkred;
 }

 header{
   width: 100%;
   background: darkred;

 }


 header label{
   display: none;
   width: 30px;
   height: 30px;
   padding: 10px;
   border-right: 1px solid white;

 }

 header label:hover{
   cursor: pointer;
   background: rgba(0,0,0,0.3);

 }
 
li{
  display: flex;
}

 ul{
 margin: 0;
 list-style: none;
 padding: 30;
 display: flex;
 flex-direction: row;
justify-content: center;
content: 50;
 }

 li{
   border-right: 1px solid white;
 }

 
li a{
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

 h1{
  text-align: center;
 }

 p{
  color:saddlebrown;
 }

