/** Reglas para etiquetas de para resenias y cuentos completos**/
 /***************************/
 body{
   margin: o;
    }
em{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
}
 p{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px;
  color:saddlebrown;
}
h1{
text-align: center; 
}
dt{
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
}

strong{
  font-size: 20px;
  font-style: oblique;
  color: aqua;

}
.poema{
  text-align: center;
  justify-content: center;
  padding: 30px;
  flex-direction: row;
  margin: 0px auto

}
.imaprinc{
  text-align: center;
  
}
.notas{
  padding-top: 8px;
  font-family:'Courier New', Courier, monospace;
  font-style: oblique;
  text-align: right;
  font-size: 15px;
}
.cuervos{
  margin: 5;
  display: flex;
 justify-content: center;
 flex-direction: row;
 padding-bottom: 30px;
 padding-top: 30px;
}
 h2{
  padding-right: 30px;
  padding-left: 30px; 
  color: darkred;

 }
 .coment{
   color: yellow;
 }
 